@*
 * @bot-written
 *
 * WARNING AND NOTICE
 * Any access, download, storage, and/or use of this source code is subject to the terms and conditions of the
 * Full Software Licence as accepted by you before being granted access to this source code and other materials,
 * the terms of which can be accessed on the Codebots website at https://codebots.com/full-software-licence. Any
 * commercial use in contravention of the terms of the Full Software Licence may be pursued by Codebots through
 * licence termination and further legal action, and be required to indemnify Codebots for any loss or damage,
 * including interest and costs. You are deemed to have accepted the terms of the Full Software Licence on any
 * access, download, storage, and/or use of this source code.
 *
 * BOT WARNING
 * This file is bot-written.
 * Any changes out side of "protected regions" will be lost next time the bot makes any changes.
 *@
@inherits RazorLight.TemplatePage<Csharpfish.Models.Internal.Emails.ResetPasswordEmailModel>
@* % protected region % [Alter reset password email here] off begin *@
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Reset Password</title>
</head>

<style stype="text/css">
	body {
		font-family: Lato, Arial, Helvetica, sans-serif;
		margin: 0;
	}

	h2 {
		color: #333333;
		width: 100%;
		display: block;
		font-family: Poppins, Lato, Arial, Helvetica, sans-serif;
	}

	h3 {
		width: 100px;
		font-family: Poppins, Lato, Arial, Helvetica, sans-serif;
	}

	.heading {
		color: #333333;
	}

	header {
		padding: 30px;
		-webkit-box-shadow: 0px 0px 8px -6px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0px 0px 8px -6px rgba(0, 0, 0, 0.75);
		box-shadow: 0px 0px 8px -6px rgba(0, 0, 0, 0.75);
	}
	.message-wrapper {
		padding: 50px;
	}

	.message-wrapper h2 {
		margin-bottom: 50px;
		font-weight: 400;
		color: #333333;
		font-size: 28px;
	}

	.btn {
		display: inline-block;
		text-decoration: none;
		color: #FFFFFF;
		padding: 20px 100px;
		background-color: #333333;
	}

	@@media screen and (max-width: 685px) {
		.heading-div {
			display: block;
		}
	}
</style>

<header>
	<h2>Csharpfish</h2>
</header>

<body>

<br>

<div class="message-wrapper">

	<h2>Reset Password</h2>

	<p>
		Hi @Model.UserName,
	</p>
	<br>
	<p>You have requested to reset your password.</p>
	<p>Click on the following button to proceed to reset your password.</p>
	<br><br>
	<a class="btn" id="reset-link" href="@Raw(Model.PasswordResetUrl)">Reset Password</a>
</div>

</body>

</html>
@* % protected region % [Alter reset password email here] end *@